version: 2.1
executors:
  build:
    machine:
      image: ubuntu-2004:202111-02
    resource_class: large

jobs:
  build:
    executor: build
    steps:
      - run:
          name: Set Git Configs & Secrets
          command: |
            git config --global user.email maharanasubhendu3@gmail.com
            git config --global user.name Subhendu-droid
            git config --global color.ui true
            git config --global credential.helper store
            echo "https://Subhendu-droid:$GIT_TOKEN@github.com" > ~/.git-credentials
     
      - run:
          name: Clone private repo
          command: |
            git clone https://Subhendu-droid :$GIT_TOKEN@github.com/Subhendu-droid/env-file-for-UB PR
            pwd
